In [1]:
##For Data consideration see Kaggle data tab.
##Predict for 
#id,date,store_nbr,item_nbr,onpromotion
#125497040,2017-08-16,1,96995,False
#...
#128867503,2017-08-31,54,2134244,False


#Inspired on Kaggle
#(https://www.kaggle.com/tarobxl/how-the-test-set-is-split-lb-0-532)

#import a dataset
import pandas as pd
from datetime import timedelta

dtypes = {'id':'int64', 'item_nbr':'int32', 'store_nbr':'int8'}

train = pd.read_csv('/Users/Koos/Downloads/DataFav/train.csv', usecols=[1,2,3,4], dtype=dtypes, parse_dates=['date'],
                    skiprows=range(1, 101688779) #Skip dates before 2017-01-01
                    )

In [2]:
train.loc[(train.unit_sales<0),'unit_sales'] = 0 # eliminate negatives
train['unit_sales'] =  train['unit_sales'].apply(pd.np.log1p) #logarithm conversion
train['dow'] = train['date'].dt.dayofweek # dow is day of week - KtB

In [3]:
# creating records for all items, in all markets on all dates
# for correct calculation of daily unit sales averages.
u_dates = train.date.unique()
u_stores = train.store_nbr.unique()
u_items = train.item_nbr.unique()
train.set_index(['date', 'store_nbr', 'item_nbr'], inplace=True)
train = train.reindex(
    pd.MultiIndex.from_product(
        (u_dates, u_stores, u_items),
        names=['date','store_nbr','item_nbr']
    )
)

In [5]:
#clean up
del u_dates, u_stores, u_items

In [6]:
# Fill NaNs
train.loc[:, 'unit_sales'].fillna(0, inplace=True)
train.reset_index(inplace=True) # reset index and restoring unique columns  
lastdate = train.iloc[train.shape[0]-1].date

In [7]:
test = pd.read_csv('/Users/Koos/Downloads/DataFav/test.csv', usecols=[0,1,2,3,4], dtype=dtypes, parse_dates=['date'])
test['dow'] = test['date'].dt.dayofweek

In [8]:
ma_dw = train[['item_nbr','store_nbr','dow','unit_sales']].groupby(['item_nbr','store_nbr','dow'])['unit_sales'].mean().to_frame('madw')
ma_dw.reset_index(inplace=True)
ma_wk = ma_dw[['item_nbr','store_nbr','madw']].groupby(['store_nbr', 'item_nbr'])['madw'].mean().to_frame('mawk')
ma_wk.reset_index(inplace=True)

In [9]:
ma_wk.head()

   store_nbr  item_nbr      mawk
0          1     96995  0.844024
1          1     99197  1.016067
2          1    103520  1.083762
3          1    103665  1.289606
4          1    105574  1.814829

In [10]:
#Moving Averages
#.to_frame is a renaming function of pandas

ma_is = train[['item_nbr','store_nbr','unit_sales']].groupby(['item_nbr','store_nbr'])['unit_sales'].mean().to_frame('mais226')
for i in [112,56,28,14,7,3,1]:
    tmp = train[train.date>lastdate-timedelta(int(i))]
    tmpg = tmp.groupby(['item_nbr','store_nbr'])['unit_sales'].mean().to_frame('mais'+str(i))
    ma_is = ma_is.join(tmpg, how='left')

In [16]:
ma_is['mais']=ma_is.median(axis=1)  ##Which median is used here?

In [18]:
ma_is.reset_index(inplace=True) #delete multi-indexer

In [20]:
## make a test set. A lot of NAN's now.

test = pd.merge(test, ma_is, how='left', on=['item_nbr','store_nbr'])
test = pd.merge(test, ma_wk, how='left', on=['item_nbr','store_nbr'])
test = pd.merge(test, ma_dw, how='left', on=['item_nbr','store_nbr','dow'])

In [21]:
#clean up
del ma_is, ma_wk, ma_dw

,id,date,store_nbr,item_nbr,onpromotion,dow,mais226,mais112,mais56,mais28,mais14,mais7,mais3,mais1,mais,mawk,madw
0,125497040,2017-08-16,1,96995,False,2,0.094532,0.154255,0.172356,0.295202,0.334438,0.099021,0.000000,0.000000,0.126638,0.844024,0.693147
1,125497041,2017-08-16,1,99197,False,2,0.286959,0.470665,0.397257,0.280721,0.206455,0.156945,0.000000,0.000000,0.243588,1.016067,1.003476
2,125497042,2017-08-16,1,103501,False,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
3,125497043,2017-08-16,1,103520,False,2,0.735661,0.815118,0.773160,0.726316,0.573577,0.495105,0.231049,0.000000,0.649946,1.083762,1.068721
4,125497044,2017-08-16,1,103665,False,2,1.015079,1.038379,0.996363,1.026335,1.031388,0.980990,0.462098,0.693147,1.005721,1.289606,1.312220
5,125497045,2017-08-16,1,105574,False,2,1.745741,1.721587,1.702692,1.699200,1.629185,1.560437,0.998577,1.609438,1.664193,1.814829,2.134940
6,125497046,2017-08-16,1,105575,False,2,2.264586,2.240521,2.294462,2.306424,2.382527,2.304131,2.123871,2.197225,2.279524,2.283542,2.454617
7,125497047,2017-08-16,1,105576,False,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
8,125497048,2017-08-16,1,105577,False,2,0.562736,0.598495,0.536972,0.517999,0.474556,0.553029,0.597253,1.098612,0.557882,1.029221,1.160824
9,125497049,2017-08-16,1,105693,False,2,0.170306,0.171770,0.244519,0.276514,0.276514,0.553029,0.693147,0.693147,0.276514,0.796376,0.877450
10,125497050,2017-08-16,1,105737,False,2,0.805562,0.800585,0.667080,0.627294,0.681012,0.553029,0.231049,0.000000,0.647187,1.168503,1.279441
11,125497051,2017-08-16,1,105857,False,2,1.416666,1.615750,1.607542,1.567747,1.619796,1.520775,1.782369,2.708050,1.611646,1.600557,1.760760
12,125497052,2017-08-16,1,106716,False,2,0.908626,1.115075,1.285623,1.321829,1.191249,1.212685,0.828302,0.000000,1.153162,1.124971,1.208035
13,125497053,2017-08-16,1,108079,False,2,0.524803,0.470946,0.399360,0.354987,0.305476,0.354987,0.366204,1.098612,0.382782,0.957574,0.903094
14,125497054,2017-08-16,1,108634,False,2,0.181950,0.123311,0.108365,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.788847,0.693147
15,125497055,2017-08-16,1,108696,False,2,0.915997,0.907281,0.760720,0.781490,0.957526,1.007036,1.059351,1.386294,0.936762,1.124421,1.093083
16,125497056,2017-08-16,1,108698,False,2,1.021057,0.943578,0.786770,0.499312,0.503518,0.454008,0.693147,0.693147,0.693147,1.244494,1.350059
17,125497057,2017-08-16,1,108701,True,2,0.655976,0.634487,0.615973,0.632156,0.746461,0.881969,1.133732,1.609438,0.701219,0.970166,1.016653
18,125497058,2017-08-16,1,108786,False,2,1.057295,1.025447,1.034141,1.226563,1.160258,1.081786,1.098612,1.098612,1.090199,1.244323,1.350938
19,125497059,2017-08-16,1,108797,True,2,0.967533,0.879562,1.085777,1.097232,1.300597,1.536234,1.622511,1.609438,1.198915,1.261393,1.395107
20,125497060,2017-08-16,1,108831,False,2,0.022993,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.747500,NaN
21,125497061,2017-08-16,1,108833,False,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
22,125497062,2017-08-16,1,108862,False,2,0.471278,0.479594,0.468816,0.457771,0.602539,0.297063,0.462098,0.000000,0.465457,0.941224,1.109869
23,125497063,2017-08-16,1,108952,False,2,0.761686,0.802879,0.714833,0.804677,0.707961,0.903991,1.110735,1.945910,0.803778,1.031731,1.177615
24,125497064,2017-08-16,1,111223,False,2,1.816942,1.750616,1.759188,1.730569,1.647454,1.410727,1.364782,1.791759,1.740593,1.915605,1.931745
25,125497065,2017-08-16,1,111397,False,2,0.537367,0.632525,0.593216,0.466184,0.527870,0.255966,0.000000,0.000000,0.497027,1.114385,1.016912
26,125497066,2017-08-16,1,112830,False,2,0.958533,0.981186,1.066429,1.126377,0.815395,1.019838,0.902683,1.609438,1.000512,1.221552,1.247470
27,125497067,2017-08-16,1,114778,False,2,0.845301,1.066027,1.083729,1.026774,1.116570,0.773092,0.879686,1.945910,1.046400,1.343554,1.262174
28,125497068,2017-08-16,1,114790,True,2,1.466314,1.293249,1.181666,1.140976,1.172980,1.144905,1.014841,1.945910,1.177323,1.546577,1.863564
29,125497069,2017-08-16,1,114799,False,2,0.540580,0.506673,0.470592,0.526412,0.619365,0.627778,0.366204,0.000000,0.516543,0.949957,1.028288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3370434,128867474,2017-08-31,54,2127921,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370435,128867475,2017-08-31,54,2127992,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370436,128867476,2017-08-31,54,2128628,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370437,128867477,2017-08-31,54,2128799,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370438,128867478,2017-08-31,54,2129334,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370439,128867479,2017-08-31,54,2129350,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370440,128867480,2017-08-31,54,2129387,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370441,128867481,2017-08-31,54,2129515,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370442,128867482,2017-08-31,54,2129616,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370443,128867483,2017-08-31,54,2129678,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370444,128867484,2017-08-31,54,2129786,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370445,128867485,2017-08-31,54,2129790,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370446,128867486,2017-08-31,54,2129892,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370447,128867487,2017-08-31,54,2129994,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370448,128867488,2017-08-31,54,2130131,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370449,128867489,2017-08-31,54,2130219,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370450,128867490,2017-08-31,54,2130265,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370451,128867491,2017-08-31,54,2130352,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370452,128867492,2017-08-31,54,2130474,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370453,128867493,2017-08-31,54,2130521,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370454,128867494,2017-08-31,54,2130526,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370455,128867495,2017-08-31,54,2130553,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370456,128867496,2017-08-31,54,2131010,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370457,128867497,2017-08-31,54,2131572,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370458,128867498,2017-08-31,54,2131699,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370459,128867499,2017-08-31,54,2132163,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370460,128867500,2017-08-31,54,2132318,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370461,128867501,2017-08-31,54,2132945,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370462,128867502,2017-08-31,54,2132957,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3370463,128867503,2017-08-31,54,2134244,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
test['unit_sales'] = test.mais

In [26]:
test_pos = test.loc[pos_idx]
test.loc[pos_idx, 'unit_sales'] = test_pos['mais'] * test_pos['madw'] / test_pos['mawk']
test.loc[:, "unit_sales"].fillna(0, inplace=True)
test['unit_sales'] = test['unit_sales'].apply(pd.np.expm1)

In [27]:
test.loc[test['onpromotion'] == True, 'unit_sales'] = test.loc[test['onpromotion'] == True, 'unit_sales'] * 1.14

In [33]:
test

,id,date,store_nbr,item_nbr,onpromotion,dow,mais226,mais112,mais56,mais28,mais14,mais7,mais3,mais1,mais,mawk,madw,unit_sales
0,125497040,2017-08-16,1,96995,False,2,0.094532,0.154255,0.172356,0.295202,0.334438,0.099021,0.000000,0.000000,0.126638,0.844024,0.693147,0.109601
1,125497041,2017-08-16,1,99197,False,2,0.286959,0.470665,0.397257,0.280721,0.206455,0.156945,0.000000,0.000000,0.243588,1.016067,1.003476,0.271973
2,125497042,2017-08-16,1,103501,False,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
3,125497043,2017-08-16,1,103520,False,2,0.735661,0.815118,0.773160,0.726316,0.573577,0.495105,0.231049,0.000000,0.649946,1.083762,1.068721,0.898238
4,125497044,2017-08-16,1,103665,False,2,1.015079,1.038379,0.996363,1.026335,1.031388,0.980990,0.462098,0.693147,1.005721,1.289606,1.312220,1.782520
5,125497045,2017-08-16,1,105574,False,2,1.745741,1.721587,1.702692,1.699200,1.629185,1.560437,0.998577,1.609438,1.664193,1.814829,2.134940,6.083250
6,125497046,2017-08-16,1,105575,False,2,2.264586,2.240521,2.294462,2.306424,2.382527,2.304131,2.123871,2.197225,2.279524,2.283542,2.454617,10.591810
7,125497047,2017-08-16,1,105576,False,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
8,125497048,2017-08-16,1,105577,False,2,0.562736,0.598495,0.536972,0.517999,0.474556,0.553029,0.597253,1.098612,0.557882,1.029221,1.160824,0.876140
9,125497049,2017-08-16,1,105693,False,2,0.170306,0.171770,0.244519,0.276514,0.276514,0.553029,0.693147,0.693147,0.276514,0.796376,0.877450,0.356170
10,125497050,2017-08-16,1,105737,False,2,0.805562,0.800585,0.667080,0.627294,0.681012,0.553029,0.231049,0.000000,0.647187,1.168503,1.279441,1.031210
11,125497051,2017-08-16,1,105857,False,2,1.416666,1.615750,1.607542,1.567747,1.619796,1.520775,1.782369,2.708050,1.611646,1.600557,1.760760,4.888249
12,125497052,2017-08-16,1,106716,False,2,0.908626,1.115075,1.285623,1.321829,1.191249,1.212685,0.828302,0.000000,1.153162,1.124971,1.208035,2.449767
13,125497053,2017-08-16,1,108079,False,2,0.524803,0.470946,0.399360,0.354987,0.305476,0.354987,0.366204,1.098612,0.382782,0.957574,0.903094,0.434769
14,125497054,2017-08-16,1,108634,False,2,0.181950,0.123311,0.108365,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.788847,0.693147,0.000000
15,125497055,2017-08-16,1,108696,False,2,0.915997,0.907281,0.760720,0.781490,0.957526,1.007036,1.059351,1.386294,0.936762,1.124421,1.093083,1.485948
16,125497056,2017-08-16,1,108698,False,2,1.021057,0.943578,0.786770,0.499312,0.503518,0.454008,0.693147,0.693147,0.693147,1.244494,1.350059,1.121120
17,125497057,2017-08-16,1,108701,True,2,0.655976,0.634487,0.615973,0.632156,0.746461,0.881969,1.133732,1.609438,0.701219,0.970166,1.016653,1.237020
18,125497058,2017-08-16,1,108786,False,2,1.057295,1.025447,1.034141,1.226563,1.160258,1.081786,1.098612,1.098612,1.090199,1.244323,1.350938,2.266137
19,125497059,2017-08-16,1,108797,True,2,0.967533,0.879562,1.085777,1.097232,1.300597,1.536234,1.622511,1.609438,1.198915,1.261393,1.395107,3.153204
20,125497060,2017-08-16,1,108831,False,2,0.022993,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.747500,NaN,0.000000
21,125497061,2017-08-16,1,108833,False,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
22,125497062,2017-08-16,1,108862,False,2,0.471278,0.479594,0.468816,0.457771,0.602539,0.297063,0.462098,0.000000,0.465457,0.941224,1.109869,0.731271
23,125497063,2017-08-16,1,108952,False,2,0.761686,0.802879,0.714833,0.804677,0.707961,0.903991,1.110735,1.945910,0.803778,1.031731,1.177615,1.502850
24,125497064,2017-08-16,1,111223,False,2,1.816942,1.750616,1.759188,1.730569,1.647454,1.410727,1.364782,1.791759,1.740593,1.915605,1.931745,4.784942
25,125497065,2017-08-16,1,111397,False,2,0.537367,0.632525,0.593216,0.466184,0.527870,0.255966,0.000000,0.000000,0.497027,1.114385,1.016912,0.573895
26,125497066,2017-08-16,1,112830,False,2,0.958533,0.981186,1.066429,1.126377,0.815395,1.019838,0.902683,1.609438,1.000512,1.221552,1.247470,1.778025
27,125497067,2017-08-16,1,114778,False,2,0.845301,1.066027,1.083729,1.026774,1.116570,0.773092,0.879686,1.945910,1.046400,1.343554,1.262174,1.672513
28,125497068,2017-08-16,1,114790,True,2,1.466314,1.293249,1.181666,1.140976,1.172980,1.144905,1.014841,1.945910,1.177323,1.546577,1.863564,3.569847
29,125497069,2017-08-16,1,114799,False,2,0.540580,0.506673,0.470592,0.526412,0.619365,0.627778,0.366204,0.000000,0.516543,0.949957,1.028288,0.749160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3370434,128867474,2017-08-31,54,2127921,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370435,128867475,2017-08-31,54,2127992,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370436,128867476,2017-08-31,54,2128628,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370437,128867477,2017-08-31,54,2128799,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370438,128867478,2017-08-31,54,2129334,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370439,128867479,2017-08-31,54,2129350,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370440,128867480,2017-08-31,54,2129387,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370441,128867481,2017-08-31,54,2129515,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370442,128867482,2017-08-31,54,2129616,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370443,128867483,2017-08-31,54,2129678,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370444,128867484,2017-08-31,54,2129786,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370445,128867485,2017-08-31,54,2129790,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370446,128867486,2017-08-31,54,2129892,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370447,128867487,2017-08-31,54,2129994,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370448,128867488,2017-08-31,54,2130131,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370449,128867489,2017-08-31,54,2130219,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370450,128867490,2017-08-31,54,2130265,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370451,128867491,2017-08-31,54,2130352,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370452,128867492,2017-08-31,54,2130474,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370453,128867493,2017-08-31,54,2130521,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370454,128867494,2017-08-31,54,2130526,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370455,128867495,2017-08-31,54,2130553,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370456,128867496,2017-08-31,54,2131010,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370457,128867497,2017-08-31,54,2131572,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370458,128867498,2017-08-31,54,2131699,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370459,128867499,2017-08-31,54,2132163,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370460,128867500,2017-08-31,54,2132318,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370461,128867501,2017-08-31,54,2132945,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370462,128867502,2017-08-31,54,2132957,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3370463,128867503,2017-08-31,54,2134244,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000

In [34]:
moreresearch = train.loc[(train.unit_sales=0),'unit_sales']

SyntaxError: invalid syntax (<ipython-input-34-4c5a59ed051d>, line 1)

In [31]:
test[['id','unit_sales']].to_csv('ma8dwof.csv.gz', index=False, float_format='%.3f', compression='gzip')